---
const { titulo, contenido, picture, alt } = Astro.props
---
<div class="border-10 border-[#40C9A9] rounded-4xl p-5 mb-10 text-left content-between">
    <div class="justify-items-center items-start">
        <img
            src={ picture }
            alt={ alt }
            height={98}
        />
    </div>
    <div>
        <h4 class="font-bold text-[18px] items-end">
            { titulo }
        </h4>
        <p>
            { contenido }
        </p>
    </div>
</div>