---
import { Button } from '../ui/button'
---
<section class="p-10">
    <h3 class="font-special text-[54px] pb-[18px]">
        ¿LISTO PARA COMPARTIR
        TU CONOCIMIENTO?
    </h3>
    <p class="font-semibold text-[28px] pb-[-31px] pr-[53px]">
        Únete a tu comunidad estudiantil o crea la tuya junto a tus compañeros y comienza
        a compartir tus CALETAS. Es momento de aprovechar el conocimiento colectivo
    </p>
    <a href="">
        <Button 
            size="lg"
            variant="secondary"            
        >
            COMIENZA A CALETEAR
        </Button>
    </a>
</section>