---
import { Button } from "../ui/button";
---
<section class="flex flex-row m-5 pt-[40px]">
    <div class="flex flex-col w-[50%]">
        <h1 class="text-[56px] font-special">
            COMPARTE Y APRENDE CON TU COMUNIDAD
        </h1>
        <p class="pb-4 font-semibold text-[24px]">
            Accede a material universitario creado por estudiantes
            para estudiantes. Tu “CALETA” ahora es nuestra caleta.
            Juntos somos más.
        </p>
        <div class="flex flex-row w-full">
            <a
            href=""
            class="mr-3 w-full font-special"    
            >
                <Button
                    size="lg"
                >
                    COMIENZA A ESTUDIAR
                </Button>
            </a>
            <a
            href=""
            class="ml-3 w-full font-special"    
            >
                <Button
                    size="lg"
                    variant="secondary"
                >
                    COMIENZA A CALETEAR
                </Button>
            </a>
        </div>
    </div>
    <div class="w-[50%] pl-12">
        <img src="/Group-209.webp" alt="Ilustracion que ilustra nuestro apoyo a todas las carreras tanto tecnicas como de humanidades">
    </div>
</section>