<section class="p-24">
    
    <div class="flex flex-row justify-between items-end pt-[30px] pb-[30px]">
        <h2 class="text-[40px] font-special">
            UNIVERSIDADES
        </h2>
        <a 
            href=""
            class="text-[18px] font-bold pb-3"
        >
            Ver mas universidades ->
        </a>
    </div>
    
    <div class="grid grid-cols-5 grid-rows-5 gap-4 w-full">

        <div class="col-span-2 row-span-2 border-10 border-[#40C9A9] rounded-4xl pt-[59px] px-[39px]">
            <div class="justify-items-center">
                <img src="/universities/unexpo.webp" alt="" class="w-[484px]">
            </div>
            <h3 class="font-special text-[54px] pt-[44px] pb-[18px]">
                UNEXPO
            </h3>
            <p class="font-semibold text-[28px] pb-[31px] pr-[53px]">
                - Ing. Mecatrónica <br/>
                - Ing. Rural <br/>
                - TSU. Electricidad <br/>
                - TSU. Mecanica <br/>
                - Ing. Química
            </p>
        </div>

        <div class="col-span-3 col-start-3 border-10 border-[#40C9A9] rounded-4xl flex flex-row items-center self-center py-24 pl-4">
                <img src="/universities/ucv.webp" alt="" class="h-[284px] pr-[48px]">
                <div class="flex flex-col">
                    <h3 class="font-special text-[54px] pt-[44px] pb-[18px]">
                        UCV
                    </h3>
                    <p class="font-semibold text-[28px] pb-[31px] pr-[53px]">
                        - Lic. Música <br/>
                        - Lic. Psicología
                    </p>
                </div>
        </div>

        <div class="col-span-3 col-start-3 row-start-2 border-10 border-[#40C9A9] rounded-4xl flex flex-row items-center self-center py-24 pl-4">
                <img src="/universities/ucla.webp" alt="" class="h-[284px] pr-[48px]">
                <div class="flex flex-col">
                    <h3 class="font-special text-[54px] pt-[44px] pb-[18px]">
                        UCLA
                    </h3>
                    <p class="font-semibold text-[28px] pb-[31px] pr-[53px]">
                        - Lic. Música <br/>
                        - Lic. Psicología
                    </p>
                </div>
        </div>

        <div class="col-span-5 row-start-3 border-10 border-[#40C9A9] rounded-4xl px-[32px]">
            <h3 class="font-special text-[54px] pt-[44px] pb-[18px]">
                AGREGA TU UNI
            </h3>
            <p class="font-semibold text-[28px] pr-[53px]">
                ¿No aparece tu universidad o carrera? No te preocupes, puedes agregar la misma en este
                formulario, solo necesitas que al menos a 10 personas de tu carrera con carnet para certificar
                la autenticidad de tu carrera o universidad
            </p>
        </div>

    </div>

</section>