<section class="p-10">
    <div class="flex flex-row justify-between items-end">
        <h2 class="text-[40px] font-special pt-[30px]">
            UNIVERSIDADES
        </h2>
        <a 
            href=""
            class="text-[18px] font-bold pb-3"
        >
            Ver mas universidades ->
        </a>
    </div>
</section>