---
import Logo from '../components/marca/Logo.astro'
import { Button } from '../components/ui/button'
---
<header>
    <nav class="flex flex-row justify-between items-center px-3 border-b-2 border-white/15 mx-5 font-semibold text-[18px] py-[23px]">
        <Logo/>
        <p>
            Caracteristicas
        </p>
        <a href="/testimonios">
            Testimonios
        </a>
        <a href="/aliados">
            Aliados
        </a>
        <a href="/blog">
            Blog
        </a>
        <a
            href="/login"
            class="font-special"
        >
            <Button
                size="sm"
            >
                Agrega tu uni
            </Button>
        </a>
    </nav>
</header>